<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./assets/icon.svg" type="image/x-icon">
    <title>Ebulição</title>
</head>

<body>
    <div id="main">
        <section class="clima-tempo">
            <div class="temp-clima">
                <h1 class="text" id="graus">00</h1>
                <section class="max-min-temp">
                    <p class="max-min" id="maxTemp">00</p>
                    <p class="max-min" id="minTemp">00</p>
                </section>
                <section class="estadoDoTempo">
                    <img class="tempoImg" id="tempoImg" src="#" alt="EstadoDotempo">
                    <p class="text" id="estadoTempo"></p>
                </section>
            </div>
            <h2 class="text" id="cidadeClima">City</h2>
            <p class="text" id="sensacaoTempo">Sensação térmica de 00</p>
            <p class="text" id="tempo">humidity</p>
            <p class="text" id="vento">Vento 0 km/h</p>

        </section>
        <section class="data-hora">
            <h1 class="text" id="horas">00:00:00</h1>
            <div class="pesquisa">
                <input class="suaCidade" id="cityID" type="text" name="SuaCidade" placeholder="Digite Sua Cidade" />
                <input class="button" id='buttonPes' type="image" src="./assets/lupa.svg" alt="enviar">
            </div>
        </section>
    </div>
</body>
<script type="module" src="../controller/controller.js"></script>

</html>